.col {
	margin: 0;
	padding: 0;
	height: 1vmax;
	width: 1vmax;
	box-sizing: border-box;
	border: solid 1px black;
	border-width: 0px 1px 1px 0px;
	display: inline-block;
	&:first-child {
		border-left-width: 1px;
	}
}
.map {
	margin: 0;
	padding: 0;
	border-bottom: none;
	display: inline-block;
	width: 50vmax;
	font-size: 0;
}
.row {
	margin: 0;
	padding: 0;
	height: 1vmax;
	display: inline-block;
	box-sizing: border-box;
	&:first-child {
		> .col {
			border-top-width: 1px;
		}
	}
}